<div class="customized-filter">
  <button type="button" {{on 'click' (fn this.changeStatus "views" )}}>
   By views
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "likes")}}>
    By likes
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "activities")}}>
    By recent
  </button>

  {{!-- {{unanswered-topic}} --}}


  

</div>
